.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $grey-100;
  height: 100svh;

  &::before, &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(700px);
    z-index: 1;
  }

  // Первый круг (before)
  &::before {
    width: 18.75rem; // 300px / 16
    height: 18.75rem; // 300px / 16
    background-color: $pink-100;
    top: 0;
    left: 0;
  }

  // Второй круг (after)
  &::after {
    width: 18.75rem; // 300px / 16
    height: 18.75rem; // 300px / 16
    background-color: $pink-100;
    bottom: 0;
    right: 0;
  }

  img {
    position: absolute;
    right: 0;
    opacity: 0.5;
    height: 80%;
    object-fit: cover;
    width: auto;
    top: 50%;
    transform: translate(0, -50%);
  }

  .container {
    z-index: 2;
    max-width: 87.5rem; // 1400px / 16
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
      font-size: 6.25rem; // 100px / 16
      font-weight: bold;
      color: $secondaryFontColor;
    }

    h2 {
      font-size: 3.125rem; // 50px / 16
      font-weight: lighter;
      color: $secondaryFontColor;
    }

    button {
      margin: 6.25rem 0 ; // 100px / 16
      padding: 1.25rem; // 20px / 16
      border: 1px solid $pink-100;
      border-radius: 20px; // Оставлено в px
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      color: $secondaryFontColor;
      column-gap: 1.875rem; // 30px / 16
      font-size: 1.5625rem; // 25px / 16
      transition: 0.5s all;

      &:hover {
        column-gap: 3.125rem; // 50px / 16
        color: $pink-100;
      }
    }
  }
}

@media (max-width: $lg) {
  .wrapper {
    @media (orientation: landscape) {
      height: auto;
    }
    &::before {
      width: 10.75rem; // 300px / 16
      height: 10.75rem; // 300px / 16
    }

    // Второй круг (after)
    &::after {
      width: 10.75rem; // 300px / 16
      height: 10.75rem; // 300px / 16
    }
    .container {
      padding: 0 3rem;

      h1 {
        font-size: 5.5rem; // 100px / 16
      }

      h2 {
        font-size: 2.4rem; // 50px / 16
      }

      button {
        margin-top: 6.25rem; // 100px / 16
        padding: 1.25rem; // 20px / 16
        column-gap: 2rem; // 30px / 16
        font-size: 2rem; // 25px / 16
        transition: 0.5s all;

        &:hover {
          column-gap: 4rem; // 50px / 16
        }
      }
    }
  }
}

@media (max-width: $md) {
  .wrapper {
    .container {
      padding: 0 2rem;
      row-gap: 4rem;

      h1 {
        font-size: 4.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      button {
        margin-top: 0rem;
        padding: 1.25rem;
        column-gap: 2rem;
        font-size: 1.5rem;
        transition: 0.5s all;

        &:hover {
          column-gap: 4rem;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  .wrapper {

    .container {
      padding: 0 0.8rem;
      row-gap: 4rem;
      align-items: center;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
        text-align: center;
      }

      button {
        margin-top: 0;
        padding: 1.25rem;
        column-gap: 1rem;
        font-size: 1rem;
        transition: 0.5s all;

        &:hover {
          column-gap: 2rem;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .wrapper {

    .container {

      h1 {
        font-size: 2.6rem;
      }

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}