/*Цвета компоненты страницы*/
$grey-100: #1E1E1C;
$black-100: #000000;
$pink-50: #FF92D0;
$pink-100: #FF0092;
$secondaryColor: #FFFFFF;


/*Цвета для шрифтов*/
$accentFontColor: #FF92D0;
$secondaryFontColor: #FFFFFF;
$mainFontColor: #000000;
$infoFontColor: #C1C1C1;

$lg: 1400px;
$md: 800px;
$sm: 560px;
$xs: 350px;
